extends layout.pug

block contents 
    div.p-8.text-center
        h1.text-4xl.font-bold.mt-8 홈 화면 입니다 👋
        button(onclick="location.href='/logout'").mt-8.bg-blue-500.text-white.p-2.rounded 로그아웃     
block scripts