.primary-btn {
  display: flex;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
}

.primary-btn .logo {
  justify-self: flex-start;
  width: 32px;
}

.red-btn {
  background-color: rgb(220, 38, 38);
  color: white;
}

.text {
  flex-grow: 1;
  text-align: center;
}

.pt-30vh {
  padding-top: 30vh;
}

/* toast msg */
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  margin: 0 auto 100 auto;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #toast-icon {
  width: 50px;
  height: 50px;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  color: #fff;
}
#toast #desc {
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 500px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 500px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 500px;
  }
  to {
    min-width: 500px;
  }
}

@keyframes stay {
  from {
    min-width: 500px;
  }
  to {
    min-width: 500px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 500px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 420px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.vh-85 {
  height: 85vh;
}
